/* @import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap'); */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background: hsla(43, 100%, 93%, 1);

    background: linear-gradient(0deg, hsla(43, 100%, 93%, 1) 0%, hsla(11, 100%, 89%, 1) 100%);

    background: -moz-linear-gradient(0deg, hsla(43, 100%, 93%, 1) 0%, hsla(11, 100%, 89%, 1) 100%);

    background: -webkit-linear-gradient(0deg, hsla(43, 100%, 93%, 1) 0%, hsla(11, 100%, 89%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFF4D9", endColorstr="#FFD0C6", GradientType=1 );

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: cursive;
    color: rgba(10,10,10,0.9);

    overflow-x: hidden;
    overflow-y: scroll;
}

.wrap {
    margin: auto;
    width: 90vw;
    max-width: 960vw;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pinn img{
    max-width: 85vw;
}

.progress-bar {
    width: 300px;
    height: 35px;
    border-radius: 7px;
    margin: 3px;
    text-align: center center;
    background-color: rgb(170, 170, 170);
}

.progress-bar p {
    position: absolute;
    padding: 5px;
}

.progress-bar * {
    border-radius: 7px;
}

#hunger {
    
}
#health {

}
#happiness {

}

.progress-hunger {
    background-color: rgb(228, 133, 24);
}
.progress-health {
    background-color: red;
}
.progress-happiness {
    background-color: lime;
}

.progress-hunger, .progress-health, .progress-happiness {
    transition: ease 200ms;
}



.shopping{
    position: absolute;
    left: 0;
    height: 100vh;
    width: 270px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.4);
}

.cosmetic{
    padding: 5px;
    user-select: none;
    transition: ease 200ms;
}

.cosmetic:hover{
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.math{
    position: absolute;
    right: 1vw;
    top: 3vw;
    height: 50vh;
    width: 80vw;
    max-width: 300px;
    border-radius: 25px;
    padding: 20px;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;


    background-color: rgba(255, 255, 255, 0.4);
}

button{
    border: none;
    border-bottom: solid 1px rgba(25, 25, 25, 0.719);
    background-color: transparent;
    padding: 5px;
    color: rgba(25, 25, 25, 0.719);
    margin-left: 5px;
}
button:hover{
    background-color: rbga(255, 255, 255, 0.9);
    cursor: pointer;
}

input{
    color: rgba(25, 25, 25, 0.719);;
    background-color: transparent;
    border: none;
    border-bottom: solid 1px rgba(25, 25, 25, 0.719);;
    padding: 5px;
    
}
input::placeholder{
    color: rgba(25, 25, 25, 0.719);
}

.challengeDescription{
    font-size: 32px;
}

img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.mobile{
    display: none;
}
@media screen and (max-width: 960px){
    .math{
        bottom: 1vh;
        height: 230px;
        top: auto;
        right: auto;
        margin: auto;
        position: static;
    }
    .shopping{
        left: -100%;
        background-color: rgba(255, 255, 255, 0.9);
    }
    body{
        display: flex;
        flex-direction: column;
    }
    .statusArea{
        margin-top: -50px;
    }
    img{
        height: 200px;
    }
    h2{
        font-size: 18px;
    }
    h3{
        font-size: 12px;
    }
    .mobile{
        display: block;
    }
    .button-shop{
        position: fixed;
        top: 5px;
        left: 5px;
        width: 40px;
        height: 40px;
        background-color: #ffffffa6;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        transition: ease 200ms;

        z-index: 5;
    }

    .button-shop::before{
        content: '$';
    }

    .button-shop.active{
        left: 270px;
    }

    .button-shop.active::before{
        content: 'X';
    }

    .shopping.active{
        left: 0px;
    }
    .money{
        position: fixed;
        right: 5px;
        top: 5px;
    }
}