.info-btn{
    position: fixed;
    bottom: 5px;
    right: 5px;
    width: 40px;
    height: 40px;
    background-color: #ffffffa6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    z-index: 5;
}

.info-btn:hover{
    cursor: pointer;
    background-color: #ffffffe7;
}

.info.hidden{
    display: none;
}

.info{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    background: hsla(43, 100%, 93%, 1);
    background: linear-gradient(0deg, hsla(43, 100%, 93%, 1) 0%, hsla(11, 100%, 89%, 1) 100%);
    background: -moz-linear-gradient(0deg, hsla(43, 100%, 93%, 1) 0%, hsla(11, 100%, 89%, 1) 100%);
    background: -webkit-linear-gradient(0deg, hsla(43, 100%, 93%, 1) 0%, hsla(11, 100%, 89%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFF4D9", endColorstr="#FFD0C6", GradientType=1 );
    z-index: 7;

    overflow-y: scroll;
}

.wrap-info{
    width: 90vw;
    max-width: 960px;
    text-indent: 10px;
    margin: 100px 0;
}

.info .info-btn{
    top: 5px;
    right: 5px;
    width: auto;
    padding: 7px;
    border-radius: 20px;
}

.info h2{
    font-size: 24px;
}

.info h3{
    font-size: 18px;
    margin: 5px 0;
}

.info p{
    font-size: 16px;
}